<p>Sign in</p>

<form class="login">
  <div class="row">
    <label for="">E-Mail</label>
    <input name="email" type="text" id="login_email" required autofocus tabindex="1">
  </div>

  <div class="row">
    <label for="">Password</label>
    <input name="password" type="password" id="login_password" required autofocus tabindex="2">
  </div>

  <div class="row">
    <input type="submit" id="submit" value="Login" class="submit" tabindex="3">
  </div>
</form>